@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 250.5 95.2% 91.8%;
    --input: 250.5 95.2% 91.8%;

    --ring: 255.1 91.7% 76.3%;

    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --muted: 251.4 91.3% 95.5%;
    --muted-foreground: 258.3 89.5% 66.3%;

    --popover: 0 0% 100%;
    --popover-foreground: 261.2 72.6% 22.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 100%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 262.1 83.3% 57.8%;

    --accent: 251.4 91.3% 95.5%;
    --accent-foreground: 263.5 67.4% 34.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    
    --success: 160.1 84.1% 39.4%;
    --success-foreground: 0 0% 100%;

    --radius: 0.5rem;

    --bg-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');

    font-family: 'Satoshi', sans-serif;
  }

  body {
    background-color: rgb(0, 0, 0);
    background-image: radial-gradient(
        at 100% 100%,
        rgb(0, 0, 0) 0,
        transparent 100%
      ),
      radial-gradient(at 31% 2%, rgb(0, 0, 0) 0, transparent 76%),
      radial-gradient(at 37% 91%, rgb(124, 58, 237) 0, transparent 84%),
      radial-gradient(at 74% 31%, rgb(91, 33, 182) 0, transparent 92%);
      min-height: 100vh;
  }

  .glass {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
